html, body  {
    margin: 10px;
    padding: 20px;
}

body  {
    font-family: Arial, Arial, Helvetica, sans-serif;
}

h1  {
    font-weight: bold;
    text-align: center;
}

h3  {
    font-style: italic;
    text-align: center;
}

main  {
    display: flex;
}

article  {
    align-content: left;
    max-width: 70%;
}

aside img  {
    align-items: right;
    display: block:
    max-width: 128px;
    max-height: 128px;
}