body  {
    margin: 20px;
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1  {
    font-weight: bolder;
    text-align: center;
}

h3  {
    font-style: italic;
    text-align: center;
}

main  {
    display: flex;
}

article  {
    float: left;
    max-width: 70%;
}

aside img  {
    float: right;
    display: block;
    max-width: 128px;
    max-height: 128px;
}
aside ul  {
    list-style-type: none;
}

footer  {
    font size: 15px;
}